@font-face {
  font-family: Quicksand_Regular;
  src: url(/Quicksand/static/Quicksand-Regular.ttf);
}

@font-face {
  font-family: Quicksand_Bold;
  src: url(/Quicksand/static/Quicksand-Bold.ttf);
}

.container {
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-areas: 
    "a"
    "b";
    grid-row-gap: 2rem;
}

.cell-1 {
    grid-area: a;
    justify-self: center;
    
}
.cell-2 {
    grid-area: b;
    justify-self: center;
}
.label {
  text-transform: capitalize;
  font-size: 1.25rem;
  font-family: Quicksand_Bold;
  margin-right: 2rem;
}

.input-1 {
  box-sizing: border-box;
  width: 24rem;
  height: 2.25rem;
  border: 1px solid var(--clr-border);
  border-radius: 0.25rem;
}

input[type="text"] {
  font-family: Quicksand_Regular;
  font-size: 1rem;
  padding-left: 0.75rem;
  letter-spacing: 0.2px;
}

.btn {
  font-family: Quicksand_Bold;
  color: var(--clr-white);
  text-transform: capitalize;
  cursor: pointer;
  border-style: none;
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
}

.btn-create {
  font-size: 1.25rem;
  padding: 0.5rem 3rem;
  background-color: var(--clr-green);
}

.btn:hover,
.btn:focus {
  transform: translateY(-0.25rem);
  transition: all 0.2s linear;
}

hr {
  width: 1280px;
  opacity: 100%;
  margin: 0 auto;
  color: var(--clr-black);
  display: block;
}