<div>
  <form class="form-group"
        [formGroup]="createRoomForm">
    <div class="container">
      <div class="cell-1">
        <label for="roomLabel" class="label">Label</label>
        <input
          type="text"
          class="input-1"
          id="roomLabel"
          formControlName="roomLabel"
        >
      </div>
      <div class="cell-2">
          <button
            type="button"
            class="btn btn-create"
            (click)="onSubmitCreateRoom()"
          >Create
          </button>
          </div>
    </div>
  </form>
</div>
<hr>
<app-rooms-list [roomsService]="roomsService"></app-rooms-list>
