.modal-header,
.modal-body {
  margin-left: 1rem;
  margin-right: 1rem;
}
.modal-title {
  font-family: Quicksand_Bold;
  font-size: 1.25rem;
  color: #000000;
  margin: 0.25rem;
  margin-left: 1rem;
}

@font-face {
  font-family: Quicksand_Regular;
  src: url("/assets/Quicksand/static/Quicksand-Regular.ttf");
}
@font-face {
  font-family: Quicksand_Bold;
  src: url("/assets/Quicksand/static/Quicksand-Bold.ttf");
}

.label {
  text-transform: capitalize;
  font-size: 1rem;
  font-family: Quicksand_Regular;
}

.btn {
  font-family: Quicksand_Bold;
  color: #ffffff;
  text-transform: capitalize;
  cursor: pointer;
  border-style: none;
  box-shadow: 1px 1px 3px #000000;
  border-radius: 1rem;
}

.btn-blue,
.btn-red {
  font-size: 1rem;
  padding: 0.3rem 1rem;
}

.btn-blue {
  background: #037aff;
}
.btn-red {
  background: #dd3545;
  margin-left: 0.75rem;
}
.btn:hover,
.btn:focus {
  transform: translateY(-0.25rem);
  transition: all 0.2s linear;
}

input[type="text"],
input[type="number"] {
  font-family: Quicksand_Regular;
  font-size: 1rem;
  padding-left: 0.75rem;
  letter-spacing: 0.2px;
}
