<div class="room-container">
  <h1 class="title">room</h1>
  <app-grower-room-control-panel-list
    [lsRoom]="lsRoom"
    [dashboardGrowerService]="dashboardGrowerService"
  ></app-grower-room-control-panel-list>
</div>

<div class="reservoir-container">
  <h1 class="title">Reservoir</h1>
  <app-grower-reservoir-control-panel-list
    [lsReservoir]="lsReservoir"
    [dashboardGrowerService]="dashboardGrowerService"
  ></app-grower-reservoir-control-panel-list>
</div>

<div class="module-container">
  <h1 class="title">Module</h1>
  <app-grower-module-control-panel-list
    [lsModule]="lsModule"
    [dashboardGrowerService]="dashboardGrowerService"
  ></app-grower-module-control-panel-list>
</div>
