<div class="navigator">
  <div class="menu-0" id="dashboard">
    <div class="hide">
      <button class="btn btn-1" type="text">Grower</button>
      <button class="btn btn-2" type="text">Germinator</button>
    </div>
    <div class="top">
      <img src="/assets/Icon/Dashboard.png" alt="Dashboard-Icon" />
    </div>
    <div class="bottom">
      <h1>Dashboard</h1>
    </div>
  </div>

  <div class="menu">
    <div class="top">
      <img src="/assets/Icon/Batches.png" alt="Batches-Icon" />
    </div>
    <div class="bottom">
      <h1>Home</h1>
    </div>
  </div>

  <div class="menu">
    <div class="top">
      <img src="/assets/Icon/Plants.png" alt="Plants-Icon" />
    </div>
    <div class="bottom">
      <h1>Plant</h1>
    </div>
  </div>

  <div class="menu">
    <div class="top">
      <img src="/assets/Icon/Nutrient.png" alt="Nutrient-Icon" />
    </div>
    <div class="bottom">
      <h1>Nutrient</h1>
    </div>
  </div>

  <div class="menu">
    <div class="top">
      <img src="/assets/Icon/Reservoir.png" alt="Reservoir-Icon" />
    </div>
    <div class="bottom">
      <h1>Reservoir</h1>
    </div>
  </div>

  <div class="menu">
    <div class="top">
      <img src="/assets/Icon/Rooms.png" alt="Rooms-Icon" />
    </div>
    <div class="bottom">
      <h1>Room</h1>
    </div>
  </div>

  <div class="menu">
    <div class="top">
      <img src="/assets/Icon/User.png" alt="Users-Icon" />
    </div>
    <div class="bottom">
      <h1>User</h1>
    </div>
  </div>

  <div class="menu">
    <div class="top">
      <img src="/assets/Icon/Logout.png" alt="Logout-Icon" />
    </div>
    <div class="bottom">
      <h1>Logout</h1>
    </div>
  </div>
</div>
