:root {
  --clr-green: #3d998a;
  --clr-grey: #f8f9fb;
  --clr-black: #000000;
  --clr-white: #ffffff;
  --clr-red: #dd3545;
  --clr-blue: #037aff;
  --transition: all 0.3s linear;
  --box-shadow: 1px 1px 3px var(--clr-black);
  --nav-shadow: 0 1px 10px var(--clr-black);
  background: var(--clr-grey);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Quicksand_Regular;
  src: url("/assets/Quicksand/static/Quicksand-Regular.ttf");
}

@font-face {
  font-family: Quicksand_Bold;
  src: url("/assets/Quicksand/static/Quicksand-Bold.ttf");
}

.brand-title:hover {
  text-decoration: none;
}

.navbar {
  box-sizing: border-box;
  margin: 0;
  padding: 0.5rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--clr-green);
  font-family: Quicksand_Bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  box-shadow: var(--nav-shadow);
}

.brand-title {
  font-size: 1.5rem;
  color: var(--clr-white);
  font-family: Quicksand_Bold;
}

.navbar-links ul {
  margin: 0 1rem;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  padding: 1rem 0.8rem;
  font-size: 1rem;
  color: var(--clr-white);
  opacity: 50%;
  display: block;
}

.navbar-links li a:hover {
  transition: var(--transition);
  opacity: 100%;
  cursor: pointer;
}

ul li a.active {
  opacity: 100%;
}

.sub-menu {
  display: none;
}

.navbar-links ul li:hover .sub-menu {
  display: block;
  position: absolute;
  background: var(--clr-green);
  margin-top: 1.5px;
  margin-bottom: 1.5px;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  box-shadow: 0 10px 10px -10px var(--clr-black);
}

.navbar-links ul li:hover .sub-menu ul {
  display: block;
  margin: 10px;
}

.navbar-links ul li:hover .sub-menu ul li {
  border-bottom: 1px solid var(--clr-white);
  background: transparent;
  text-align: left;
}

.navbar-links ul li:hover .sub-menu ul li:last-child {
  border-bottom: none;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}
