<nav class="navbar" *ngIf="isNavbarVisible">
  <a class="brand-title" routerLink="/home">ModernFarms</a>

  <!-- <button
    class="navbar-toggler"
    type="button"
    [attr.aria-expanded]="isToggleExpanded"
    (click)="toggleNavbar()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2"
    [ngClass]="{ 'show': isToggleExpanded }"
  > -->
  <div class="navbar-links">
    <ul>
      <li class="nav-item">
        <a routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/batches" routerLinkActive="active">Batches</a>
      </li>
      <li class="nav-item">
        <a routerLink="/plants" routerLinkActive="active">Plants</a>
      </li>
      <li class="nav-item">
        <a routerLink="/nutrients" routerLinkActive="active">Nutrients</a>
      </li>
      <li class="nav-item">
        <a routerLink="/reservoirs" routerLinkActive="active">Reservoirs</a>
      </li>
      <li class="nav-item">
        <a routerLink="/rooms" routerLinkActive="active">Rooms</a>
      </li>
      <li class="nav-item">
        <a routerLink="/modules" routerLinkActive="active">Modules</a>
      </li>
      <li class="nav-item">
        <a routerLink="/users" routerLinkActive="active">Users</a>
      </li>
    </ul>
    </div>
  <!-- </div> -->

  <!-- <div
    class="collapse navbar-collapse order-2"
    [ngClass]="{ 'show': isToggleExpanded }"
  > -->
  <div class="navbar-links">
    <ul>
      <li class="nav-item">
        <a class="nav-link"
          (click)="onLogout()">Logout</a>
      </li>
    </ul>
    </div>
  <!-- </div> -->
</nav>
