<nav class="navbar" *ngIf="isNavbarVisible">
  <a class="brand-title" routerLink="/home">ModernFarms</a>

  <!-- <button
    class="navbar-toggler"
    type="button"
    [attr.aria-expanded]="isToggleExpanded"
    (click)="toggleNavbar()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2"
    [ngClass]="{ 'show': isToggleExpanded }"
  > -->
  <div class="navbar-links">
    <ul>
      <li class="nav-item" *ngFor="let menuItem of menuItems" routerLinkActive="active">
        <a class="nav-link" [routerLink]="menuItem.path">{{menuItem.title}}</a>
      </li>
    </ul>
  </div>
  <!-- </div> -->

  <!-- <div
    class="collapse navbar-collapse order-2"
    [ngClass]="{ 'show': isToggleExpanded }"
  > -->
  <div class="navbar-links">
    <ul>
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer"
           (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
  <!-- </div> -->
</nav>
