@font-face {
  font-family: Quicksand_Regular;
  src: url(/Quicksand/static/Quicksand-Regular.ttf);
}
@font-face {
  font-family: Quicksand_Bold;
  src: url(/Quicksand/static/Quicksand-Bold.ttf);
}
.label {
  text-transform: capitalize;
  font-size: 1.25rem;
  font-family: Quicksand_Bold;
  margin-right: 1rem;
}

.input-1 {
  box-sizing: border-box;
  width: 25rem;
  height: 2.25rem;
  border: 1px solid var(--clr-border);
  border-radius: 0.25rem;
}

input[type="text"] {
  font-family: Quicksand_Regular;
  font-size: 1rem;
  padding-left: 0.75rem;
  letter-spacing: 0.2px;
}

select.select {
  padding-left: 0.5rem;
}

.select {
  box-sizing: border-box;
  background-color: var(--clr-white);
  border: 1px solid var(--clr-border);
  height: 2.25rem;
  cursor: pointer;
  font-family: Quicksand_Regular;
  font-size: 1rem;
  margin-right: 2rem;
  border-radius: 0.25rem;
}

.select-part {
  width: 5rem;
}
.select-type {
  width: 7rem;
}
.input-cc {
  width: 6rem;
  padding-left: 0.5rem;
}
.input-num {
  width: 5rem;
  padding-left: 2rem;
}

.select:hover {
  background-color: #e0e0e0;
}

.btn {
  font-family: Quicksand_Bold;
  color: var(--clr-white);
  text-transform: capitalize;
  cursor: pointer;
  border-style: none;
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
}
.btn-create {
  font-size: 1.25rem;
  padding: 0.5rem 3rem;
  background-color: var(--clr-green);
}
.btn:hover,
.btn:focus {
  transform: translateY(-0.25rem);
  transition: all 0.2s linear;
}

.container {
  display: grid;
  width: 1280px;
  grid-template-areas:
    "a a a a a a"
    "b c d e f g"
    "h h h h h h";
  gap: 2rem 1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  justify-content: center;
}

.cell {
  margin-left: 1rem;
  align-items: center;
  justify-content: center;
}

.cell-1 {
  grid-area: a;
  justify-self: flex-start;
}
.cell-2 {
  grid-area: b;
}
.cell-3 {
  grid-area: c;
}
.cell-4 {
  grid-area: d;
}
.cell-5 {
  grid-area: e;
}
.cell-6 {
  grid-area: f;
}
.cell-7 {
  grid-area: g;
}
.cell-8 {
  grid-area: h;
  display: flex;
  justify-self: center;
}
hr {
  width: 1280px;
  opacity: 50%;
  margin: 0 auto;
  border: 0.3px solid grey;
  display: block;
}

@media screen and (max-width: 1080px) {
  .container {
    grid-template-areas:
      "a a a"
      "b c d"
      "e f g"
      "h h h";
  }
  .cell {
    justify-content: flex-start;
  }
}
