<div class="container-fluid" style="margin-top: 30px">

  <form class="form-group"
        [formGroup]="createNutrientForm">
    <div class="row">
      <div class="col-sm-6">
        <label for="nutrientLabel">Label</label>
        <input
          type="text"
          class="form-control"
          id="nutrientLabel"
          formControlName="nutrientLabel"
        >
      </div>
      <div class="col-sm-2">
        <label for="part">Part</label>
        <select
          id="part"
          class="form-control"
          formControlName="part"
          (change)="changePart($event)">
          <option disabled>Select Nutrient Part</option>
          <option>-</option>
          <option *ngFor="let part of parts">{{ part }}</option>
        </select>
      </div>
      <div class="col-sm-4">
        <label for="nutrientType">Type</label>
        <select
          id="nutrientType"
          class="form-control"
          formControlName="nutrientType"
          (change)="changeNutrientType($event)">
          <option disabled>Select Nutrient Type</option>
          <option>-</option>
          <option *ngFor="let nutrientType of nutrientTypes">{{ nutrientType }}</option>
        </select>
      </div>
    </div>
    <div class="row" style="margin-top: 10px">
      <div class="col-sm-3">
        <label for="ccPerLiter">cc/liter</label>
        <input
          type="number"
          min="0"
          class="form-control"
          id="ccPerLiter"
          formControlName="ccPerLiter">
      </div>
      <div class="col-sm-3">
        <label for="n">N</label>
        <input
          type="number"
          min="0"
          class="form-control"
          id="n"
          formControlName="n">
      </div>
      <div class="col-sm-3">
        <label for="p">P</label>
        <input
          type="number"
          min="0"
          class="form-control"
          id="p"
          formControlName="p">
      </div>
      <div class="col-sm-3">
        <label for="k">K</label>
        <input
          type="number"
          min="0"
          class="form-control"
          id="k"
          formControlName="k">
      </div>
    </div>

    <div class="row" style="margin-top: 20px">
      <div class="col-sm-12">
        <div class="text-center">
          <button
            type="button"
            class="btn btn-primary btn-block"
            (click)="onSubmitCreateNutrient()"
          >Create
          </button>
        </div>
      </div>
    </div>
  </form>

</div>
<hr>
<app-nutrients-list></app-nutrients-list>
