.room-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  border-radius: 1rem;
}

.each-room {
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 48%;
  border-radius: 1rem;
  background: white;
  /* border: 3px solid green; */
}
