.mode-selector {
  display: flex;
  justify-content: space-around;
  margin: 1.5rem auto;
  text-align: center;
  width: 50%;
  height: 2.25rem;
  background: var(--clr-white);
  border-radius: 2rem;
  border: 4px solid var(--clr-green);
}

.btn-mode {
  font-family: Quicksand_Bold;
  background: var(--clr-white);
  font-size: 1rem;
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 2rem;
  width: 50%;
}

.btn-mode-active {
  color: white;
  background: var(--clr-green);
  border-radius: 2rem;
  border: var(--clr-green);
}

.btn-mode-inactive {
  color: var(--clr-green);
  background: var(--clr-white);
  border-radius: 2rem;
  border: var(--clr-green);
}

hr {
  width: 60%;
  margin: 1rem auto;
  border-top: 1px solid gray;
  opacity: 60%;
}

.title {
  font-family: Quicksand_Bold;
  text-transform: uppercase;
  font-size: 1.6rem;
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.5rem;
  color: white;
  background-color: var(--clr-green);
  text-align: center;
}

h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: Quicksand_Bold;
  color: var(--clr-green);
}

h2 {
  font-size: 1rem;
  font-family: Quicksand_Bold;
  color: grey;
  text-align: center;
}

h3 {
  font-size: 1rem;
  font-family: Quicksand_Bold;
  color: white;
  text-align: center;
}

h4 {
  font-size: 1.25rem;
  font-family: Quicksand_Bold;
  text-transform: uppercase;
  color: white;
}
h5 {
  font-size: 1.25rem;
  font-family: Quicksand_Bold;
  text-transform: uppercase;
  color: red;
}

.white {
  color: white;
}

input[type="number"] {
  font-family: Quicksand_Regular;
  font-size: 1rem;
  padding-left: 1rem;
  letter-spacing: 0.3px;
  box-sizing: border-box;
  border: 1px solid var(--clr-border);
  border-radius: 0.25rem;
  height: 2rem;
  width: 4rem;
  margin: auto 1rem;
}

/* ********************** ROOM ********************** */

.room-container {
  display: block;
  margin: 2rem auto;
  width: 80%;
  border-radius: 1rem;
  background: #e5e5e5;
  padding-bottom: 1rem;
}

.room-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  border-radius: 1rem;
}

.each-room {
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 48%;
  border-radius: 1rem;
  background: white;
  /* border: 3px solid green; */
}

.cell-1 {
  grid-area: a;
}
.cell-2 {
  grid-area: b;
}
.cell-3 {
  grid-area: c;
}
