

  <form class="form-group container" 
        [formGroup]="createReservoirForm">
    
      <div class="cell cell-1">
        <label for="reservoirLabel" class="label">label</label>
        <input
          type="text"
          class="input-1"
          id="reservoirLabel"
          formControlName="reservoirLabel"
        >
      </div>
      
      <div class="cell cell-2">
        <label for="nutrientLabel" class="label">Nutrient</label>
        <select
          id="nutrientLabel"
          class="select"
          formControlName="nutrientLabel"
          (change)="updateNutrients($event)">
          <option selected="selected" disabled>Select Nutrient</option>
          <option>-</option>
          <option *ngFor="let nutrient of nutrients">{{ nutrient.nutrientLabel }}</option>
        </select>
          <button
            type="button"
            class="btn btn-add"
            (click)="onAddNutrient()">
            Add
          </button>
          
          
          
          <div
          *ngFor="let nutrient of selectedNutrients; trackBy: trackByNutrientID"
          class="addedNutrient"
          (click)="removeNutrient($event)">
          {{ nutrient.nutrientLabel }}
        </div>
      </div>

      <div class="cell cell-3">
          <button
            type="button"
            class="btn btn-create"
            (click)="onSubmitCreateReservoir()"
          >Create
        </button>
      </div>
  </form>



<hr>
<app-reservoirs-list [reservoirsService]="reservoirsService"></app-reservoirs-list>
