<div class="germinator-current-container">
  <h1 class="title">Germinator</h1>

  <div class="each-germinator">
    <div class="cell-1">
      <div class="germinator-data">
        <h2>Humidity</h2>
        <h1>50%</h1>
      </div>
      <div class="germinator-data">
        <h2>Temperature</h2>
        <h1>25&#176;</h1>
      </div>
    </div>

    <div class="cell-2">
      <div>
        <h3>Auto</h3>
        <div class="onoffswitch">
          <input
            type="checkbox"
            name="onoffswitch"
            class="onoffswitch-checkbox"
            id="myonoffswitch"
            tabindex="0"
            checked
          />
          <label class="onoffswitch-label" for="myonoffswitch">
            <span class="onoffswitch-inner auto"></span>
            <span class="onoffswitch-switch mannual"></span>
          </label>
        </div>
      </div>
      <div>
        <h3>Fan</h3>
        <div class="onoffswitch">
          <input
            type="checkbox"
            name="onoffswitch"
            class="onoffswitch-checkbox"
            id="myonoffswitch"
            tabindex="0"
            checked
          />
          <label class="onoffswitch-label" for="myonoffswitch">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
          </label>
        </div>
      </div>
      <div>
        <h3>Mister</h3>
        <div class="onoffswitch">
          <input
            type="checkbox"
            name="onoffswitch"
            class="onoffswitch-checkbox"
            id="myonoffswitch"
            tabindex="0"
            checked
          />
          <label class="onoffswitch-label" for="myonoffswitch">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
          </label>
        </div>
      </div>
    </div>

    <div class="cell-3">
      <div class="row">
        <h3>Light:</h3>

        <div class="inline">
          <h3>On</h3>
          <input type="number" />
          <h3>hr</h3>
        </div>

        <div class="inline">
          <h3>Off</h3>
          <input type="number" />
          <h3>hr</h3>
        </div>
      </div>

      <div class="row">
        <h3>Root Humidity:</h3>

        <div class="inline">
          <h3>Low</h3>
          <input type="number" />
          <h3>hr</h3>
        </div>

        <div class="inline">
          <h3>High</h3>
          <input type="number" />
          <h3>hr</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="germinator-history-container">
    <h1 class="title">History</h1>

    <div class="select-datetime">
        <h2 class="search-label">Begin:</h2>
        <input type="datetime-local">

        <h2 class="search-label">End:</h2>
        <input type="datetime-local">

        <button class="search-btn">
            Search
        </button>
    </div>

    <div class="show-data">
            <h2>Humidity</h2>
            <div class="temp-graph"></div>
       
            <h2>Temperature</h2>
            <div class="humidity-graph"></div>
    </div>
</div>