<div>

  <form class="form-group container"
        [formGroup]="createPlantForm">
    
        <div class="cell cell-1">
        <label for="plantLabel" class="label">Label</label>
        <input
          type="text"
          class="input-1"
          id="plantLabel"
          formControlName="plantLabel"
        >
        </div>
    
        <div class="cell cell-2">
        <label for="tdsHigh" class="label">TDS - High (ppm)</label>
        <input
          type="number"
          class="input-2"
          id="tdsHigh"
          formControlName="tdsHigh"
        >
        </div>
    
        <div class="cell cell-3">
        <label for="tdsLow" class="label">TDS - Low (ppm)</label>
        <input
          type="number"
          class="input-2"
          id="tdsLow"
          formControlName="tdsLow"
        >
        </div>
        
        <div class="cell cell-4">
        <label for="phHigh" class="label">pH - High</label>
        <input
          type="number"
          class="input-2"
          id="phHigh"
          formControlName="phHigh"
        >
        </div>
        
        <div class="cell cell-5">
        <label for="phLow" class="label">pH - Low</label>
        <input
          type="number"
          class="input-2"
          id="phLow"
          formControlName="phLow"
        >
        </div>
        
        <div class="cell cell-6">
        <label for="temperatureHigh" class="label">Temperature - High (C)</label>
        <input
          type="number"
          class="input-2"
          id="temperatureHigh"
          formControlName="temperatureHigh"
        >
        </div>
    
    

  
        <div class="cell cell-7">
        <label for="temperatureLow" class="label">Temperature - Low (C)</label>
        <input
          type="number"
          class="input-2"
          id="temperatureLow"
          formControlName="temperatureLow"
        >
        </div>
    
      
        <div class="cell cell-8">
        <label for="lightsOnHour" class="label">Lights On (hr)</label>
        <input
          type="number"
          class="input-2"
          id="lightsOnHour"
          formControlName="lightsOnHour"
        >
        </div>
    
        <div class="cell cell-9">
        <label for="lightsOffHour" class="label">Lights Off (hr)</label>
        <input
          type="number"
          class="input-2"
          id="lightsOffHour"
          formControlName="lightsOffHour"
        >
        </div>

        <div class="cell cell-10">
        <label for="mistingOnSecond" class="label">Misting On (s)</label>
        <input
          type="number"
          class="input-2"
          id="mistingOnSecond"
          formControlName="mistingOnSecond"
        >
        </div>
    
        <div class="cell cell-11">
        <label for="mistingOffSecond" class="label">Misting Off (s)</label>
        <input
          type="number"
          class="input-2"
          id="mistingOffSecond"
          formControlName="mistingOffSecond"
        >
        </div>
    
  

    
        <div class="cell cell-12">
          <button
            type="button"
            class="btn btn-create"
            (click)="onSubmitCreatePlant()"
          >Create
          </button>
          </div>
  </form>

</div>
<hr>
<app-plants-list [plantsService]="plantsService"></app-plants-list>
