<div class="grower-history-container">
  <h1 class="title">History</h1>

  <form [formGroup]="growerHistoryForm">
    <div class="select-datetime">
      <h2 class="search-label">Begin:</h2>
      <input
        id="timeStampBegin"
        type="datetime-local"
        class="input input-timestamp"
        formControlName="timeStampBegin"
      />
      <h2 class="search-label">End:</h2>
      <input
        id="timeStampEnd"
        type="datetime-local"
        class="input input-timestamp"
        formControlName="timeStampEnd"
      />
      <button class="search-btn" (click)="onSubmitHistoryPeriod()">
        Update
      </button>
    </div>
  </form>

  <div *ngIf="isUpdateHistoryClicked">
    <div class="show-data-container">
      <h1 class="header">room</h1>
      <div *ngFor="let room of lsRoom">
        <h1 class="semi-header">{{ room.roomLabel }}</h1>

        <div *ngIf="objRoomID_dataType_roomChartDataSet != undefined">
          <div class="show-data">
            <div class="left">
              <h2>Humidity</h2>
              <button class="btn btn-primary">Reset</button>
            </div>
            <div class="graph">
              <canvas
                baseChart
                [datasets]="
                  objRoomID_dataType_roomChartDataSet[room.roomID][0].data
                "
                [options]="humidityChartOptions"
                [colors]="roomChartColors"
                [chartType]="'line'"
              >
              </canvas>
            </div>
            <div class="left">
              <h2>Temperature</h2>
              <button class="btn btn-primary">Reset</button>
            </div>
            <div class="graph">
              <canvas
                baseChart
                [datasets]="
                  objRoomID_dataType_roomChartDataSet[room.roomID][1].data
                "
                [options]="tempChartOptions"
                [colors]="roomChartColors"
                [chartType]="'line'"
              >
              </canvas>
            </div>
          </div>
        </div>
        <div
          *ngIf="objRoomID_dataType_roomChartDataSet == undefined"
          class="data-not-found"
        >
          <h5>no data</h5>
        </div>
      </div>
    </div>

    <div class="show-data-container">
      <h1 class="header">Reservoir</h1>
      <div *ngFor="let reservoir of lsReservoir">
        <h1 class="semi-header">{{ reservoir.reservoirLabel }}</h1>

        <div *ngIf="objReservoirID_dataType_reservoirChartDataSet != undefined">
          <div class="show-data">
            <div class="left">
              <h2>TDS</h2>
              <button class="btn btn-primary">Reset</button>
            </div>
            <div class="graph">
              <canvas
                baseChart
                [datasets]="
                  objReservoirID_dataType_reservoirChartDataSet[
                    reservoir.reservoirID
                  ][0].data
                "
                [options]="tdsChartOptions"
                [colors]="reservoirChartColors"
                [chartType]="'line'"
              >
              </canvas>
            </div>
            <div class="left">
              <h2>PH</h2>
              <button class="btn btn-primary">Reset</button>
            </div>
            <div class="graph">
              <canvas
                baseChart
                [datasets]="
                  objReservoirID_dataType_reservoirChartDataSet[
                    reservoir.reservoirID
                  ][1].data
                "
                [options]="phChartOptions"
                [colors]="reservoirChartColors"
                [chartType]="'line'"
              >
              </canvas>
            </div>
            <div class="left">
              <h2>Solution Temperature</h2>
              <button class="btn btn-primary">Reset</button>
            </div>
            <div class="graph">
              <canvas
                baseChart
                [datasets]="
                  objReservoirID_dataType_reservoirChartDataSet[
                    reservoir.reservoirID
                  ][2].data
                "
                [options]="solnTempChartOptions"
                [colors]="reservoirChartColors"
                [chartType]="'line'"
              >
              </canvas>
            </div>
          </div>
        </div>
        <div
          *ngIf="objReservoirID_dataType_reservoirChartDataSet == undefined"
          class="data-not-found"
        >
          <h5>no data</h5>
        </div>
      </div>
    </div>

    <div class="show-data-container">
      <h1 class="header">Module</h1>
      <div *ngFor="let module of lsModule">
        <h1 class="semi-header">{{ module.moduleLabel }}</h1>
        <div *ngFor="let level of getLevelsArray(module.level)">
          <h1 class="sub-header">level {{ level }}</h1>

          <div
            *ngIf="
              objModuleID_level_dataType_moduleLevelChartDataSet != undefined
            "
          >
            <div class="show-data">
              <div class="left">
                <h2>Root Humidity</h2>
                <button class="btn btn-primary">Reset</button>
              </div>
              <div class="graph">
                <canvas
                  baseChart
                  [datasets]="
                    objModuleID_level_dataType_moduleLevelChartDataSet[
                      module.moduleID
                    ][level][0].data
                  "
                  [options]="humidityRootChartOptions"
                  [colors]="moduleLevelChartColors"
                  [chartType]="'line'"
                >
                </canvas>
              </div>
              <div class="left">
                <h2>Root Temperature</h2>
                <button class="btn btn-primary">Reset</button>
              </div>
              <div class="graph">
                <canvas
                  baseChart
                  [datasets]="
                    objModuleID_level_dataType_moduleLevelChartDataSet[
                      module.moduleID
                    ][level][1].data
                  "
                  [options]="tempRootChartOptions"
                  [colors]="moduleLevelChartColors"
                  [chartType]="'line'"
                >
                </canvas>
              </div>
            </div>
          </div>
          <div
            *ngIf="
              objModuleID_level_dataType_moduleLevelChartDataSet == undefined
            "
            class="data-not-found"
          >
            <h5>no data</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
