  <form class="form-group container"
        [formGroup]="createModuleForm">
    
      <div class="cell cell-1">
        <label for="moduleLabel" class="label">Label</label>
        <input
          type="text"
          class="input-1"
          id="moduleLabel"
          formControlName="moduleLabel"
        >
      </div>

      <div class="cell cell-2">
        <label for="level" class="label">Level</label>
        <input
          type="number"
          min="0"
          class="input-1 input-num"
          id="level"
          formControlName="level"
        >
      </div>

      <div class="cell cell-3">
        <label for="room" class="label">Room</label>
        <select
          id="room"
          class="select"
          formControlName="room"
          (change)="updateRoom($event)">
          <option disabled>Select Room</option>
          <option>-</option>
          <option *ngFor="let room of rooms">{{ room.roomLabel }}</option>
        </select>
      </div>

      <div class="cell cell-4">
        <label for="room" class="label">Reservoir</label>
        <select
          id="reservoir"
          class="select"
          formControlName="reservoir"
          (change)="updateReservoir($event)">
          <option disabled>Select Reservoir</option>
          <option>-</option>
          <option *ngFor="let reservoir of reservoirs">{{ reservoir.reservoirLabel }}</option>
        </select>
      </div>

    <div class="cell cell-5">
        <button
            type="button"
            class="btn btn-create"
            (click)="onSubmitCreateModule()"
          >Create
          </button>
    </div>
  </form>

<hr>
<app-modules-list [modulesService]="modulesService"></app-modules-list>
