@font-face {
  font-family: Quicksand_Regular;
  src: url(/Quicksand/static/Quicksand-Regular.ttf);
}
@font-face {
  font-family: Quicksand_Bold;
  src: url(/Quicksand/static/Quicksand-Bold.ttf);
}

.container {
    display: grid;
    width: 1280px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.cell {
    text-align: center;
    font-family: Quicksand_Bold;
    font-size: 1.25rem;
}

hr {
    width: 1280px;
    opacity: 100%;
    margin: 0 auto;
    color: var(--clr-black);
    display: block;
}