<div class="container">
  <div class="cell cell-1">
    {{ nutrient.nutrientLabel }}
  </div>
  <div class="cell">
    {{ parts[nutrient.part - 1] }}
  </div>
  <div class="cell">
    {{ nutrientTypes[nutrient.nutrientType - 1] }}
  </div>
  <div class="cell">
    {{ nutrient.ccPerLiter }}
  </div>
  <div class="cell">
    {{ nutrient.n }}
  </div>
  <div class="cell">
    {{ nutrient.p }}
  </div>
  <div class="cell">
    {{ nutrient.k }}
  </div>
  <div class="cell cell-2">
    <button
      class="btn btn-blue"
      (click)="onEditNutrient()"
    >Edit
    </button>{{" "}}
    <button
      class="btn btn-red"
      (click)="onDeleteNutrient()"
    >Delete
    </button>
  </div>
</div>
