<!-- <button
  class="btn btn-outline-warning btn-block btn-lg"
  [ngClass]="{'active': isDisplayDetails}"
  (click)="onClick()"
  style="margin-bottom: 10px"
>
  {{ level }}
</button> -->
<div class="title">
  <span>Level </span> {{ level }}
  
</div>
<div style="margin-top: 10px;">
  <div class="row">
    <div class="col-sm-11" style="padding: 10px;">
      <canvas
        baseChart
        [datasets]="tempChartDataSet"
        [options]="tempChartOptions"
        [colors]="tempChartColors"
        [chartType]="'line'">
      </canvas>
    </div>
    <div class="col-sm-1 my-auto">
      <button class="btn" (click)="onClickReset(0)">Reset</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-11" style="padding: 10px;">
      <canvas
        baseChart
        [datasets]="humidityChartDataSet"
        [options]="humidityChartOptions"
        [colors]="humidityChartColors"
        [chartType]="'line'">
      </canvas>
    </div>
    <div class="col-sm-1 my-auto">
      <button class="btn" (click)="onClickReset(1)">Reset</button>
    </div>
  </div>
</div>
