<div class="modal-header">
  <h4 class="modal-title">Edit {{ roomLabel }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form
    class="form-group"
    [formGroup]="editRoomForm"
  >
    <label for="roomLabel" class="label">Room Label</label>
    <input
      type="text"
      class="form-control input"
      id="roomLabel"
      formControlName="roomLabel"
    >
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-red" (click)="cancel()">Cancel</button>
  <button type="button" class="btn btn-blue" (click)="onSubmitEditRoom()">Submit</button>
</div>
