<div class="container" (click)="onClick()">
    <div class="cell cell-1">
      {{ batch.batchLabel }}
    </div>
    <div class="col-sm-2 my-auto">
      {{ plant.plantID == 0 ? "-" : plant.plantLabel }}
    </div>
    <div class="cell">
      {{ batch.weight }}
    </div>
    <div class="cell">
      {{ batch.timeStampBegin | date: "dd/MM/yyyy hh:mm" }}
    </div>
    <div class="cell">
      {{ batch.remarks }}
    </div>
  <div class="cell cell-2">
    <button class="btn btn-blue" (click)="onEditBatch($event)">Edit</button>{{" "}}
    <button class="btn btn-red" (click)="onDeleteBatch($event)">Delete</button>
  </div>
</div>
