<div>
  <div class="container">
    <div class="cell">
      Label
    </div>
    <div class="cell">
      Part
    </div>
    <div class="cell">
      Type
    </div>
    <div class="cell">
      cc/liter
    </div>
    <div class="cell">
      N
    </div>
    <div class="cell">
      P
    </div>
    <div class="cell">
      K
    </div>
    <div class="cell">
    </div>
  </div>
    <hr>
  <app-nutrients-item
    *ngFor="let nutrient of nutrients; let i = index"
    [nutrient]="nutrient"
    [index]="i"
    [nutrientsService]="nutrientsService"
  ></app-nutrients-item>
</div>
