<div class="cell-top">
  <div>
    <h1>{{ module.moduleLabel }}</h1>
  </div>
  <div>
    <h2>Auto</h2>
    <label class="switch">
      <input
        type="checkbox"
        [checked]="moduleSettings == undefined ? 0 : moduleSettings.isAuto"
        (change)="onClickIsAuto()"
      />
      <span class="slider slider-auto"></span>
    </label>
  </div>
  <div class="cell-c">
    <div class="inline space">
      <h2>Light:</h2>
      <div class="text">
        <h2>On</h2>
        <input
          [(ngModel)]="nextLightsOnHour"
          [ngStyle]="{
            background:
              nextLightsOnHour == prevLightsOnHour ? 'white' : '#CFF0CC'
          }"
          (keyup.enter)="onInputEnterKey()"
          type="number"
          min="0"
          id="lightsOnHour"
          [value]="prevLightsOnHour"
        />
        <h2>hr</h2>
      </div>
      <div class="text">
        <h2>Off</h2>
        <input
          [(ngModel)]="nextLightsOffHour"
          [ngStyle]="{
            background:
              nextLightsOffHour == prevLightsOffHour ? 'white' : '#CFF0CC'
          }"
          (keyup.enter)="onInputEnterKey()"
          type="number"
          min="0"
          id="lightsOffHour"
          [value]="prevLightsOffHour"
        />
        <h2>hr</h2>
      </div>
    </div>
    <div class="inline">
      <h2>Root Humidity:</h2>
      <div class="text">
        <h2>Low</h2>
        <input
          [(ngModel)]="nextHumidityRootLow"
          [ngStyle]="{
            background:
              nextHumidityRootLow == prevHumidityRootLow ? 'white' : '#CFF0CC'
          }"
          (keyup.enter)="onInputEnterKey()"
          type="number"
          min="0"
          id="humidityLow"
          [value]="prevHumidityRootLow"
        />
        <h2>%</h2>
      </div>
      <div class="text">
        <h2>High</h2>
        <input
          [(ngModel)]="nextHumidityRootHigh"
          [ngStyle]="{
            background:
              nextHumidityRootHigh == prevHumidityRootHigh ? 'white' : '#CFF0CC'
          }"
          (keyup.enter)="onInputEnterKey()"
          type="number"
          min="0"
          id="humidityHigh"
          [value]="prevHumidityRootHigh"
        />
        <h2>%</h2>
      </div>
    </div>
  </div>
</div>

<app-grower-module-level-control-panel-list
  [moduleID]="module.moduleID"
  [level]="module.level"
  [dashboardGrowerService]="dashboardGrowerService"
></app-grower-module-level-control-panel-list>
