<div class="cell-top">
  <div>
    <h1>{{ module.moduleLabel }}</h1>
  </div>
  <div>
    <h2>Auto</h2>
    <label class="switch">
      <input
        type="checkbox"
        (click)="onClickIsAuto()"
        [checked]="moduleSettings == undefined ? 0 : moduleSettings.isAuto"
      />
      <span class="slider slider-auto"></span>
    </label>
  </div>
  <div class="cell-c">
    <div>
      <div>
        <h2>Light:</h2>
      </div>
      <div>
        <h2>On</h2>
        <input type="number" />
        <h2>hr</h2>
      </div>
      <div>
        <h2>Off</h2>
        <input type="number" />
        <h2>hr</h2>
      </div>
    </div>
    <div>
      <div>
        <h2>Root Humidity:</h2>
      </div>
      <div>
        <h2>Low</h2>
        <input type="number" />
        <h2>hr</h2>
      </div>
      <div>
        <h2>High</h2>
        <input type="number" />
        <h2>hr</h2>
      </div>
    </div>
  </div>
</div>

<app-grower-module-level-control-panel-item
  [moduleID]="module.moduleID"
  [level]="module.level"
  [dashboardGrowerService]="dashboardGrowerService"
></app-grower-module-level-control-panel-item>
