<div>
  <div class="container">
    <div class="cell cell-1">
      Label
    </div>
    <div class="cell">
      TDS
    </div>
    <div class="cell">
      pH
    </div>
    <div class="cell">
      Temperature
    </div>
    <div class="cell">
      Light Cycle (hr)
    </div>
    <div class="cell">
      Misting Cycle (s)
    </div>
    <div class="cell">
    </div>
  </div>
  <hr>
  <app-plants-item
    *ngFor="let plant of plants; let i = index"
    [plant]="plant"
    [index]="i"
    [plantsService]="plantsService"
  ></app-plants-item>
</div>
