@font-face {
  font-family: Quicksand_Regular;
  src: url("/assets/Quicksand/static/Quicksand-Regular.ttf");
}
@font-face {
  font-family: Quicksand_Bold;
  src: url("/assets/Quicksand/static/Quicksand-Bold.ttf");
}

.label {
  text-transform: capitalize;
  font-size: 1.25rem;
  font-family: Quicksand_Bold;
  margin-right: 2rem;
}

.input-1 {
  box-sizing: border-box;
  width: 18rem;
  height: 2.25rem;
  border: 1px solid var(--clr-border);
  border-radius: 0.25rem;

}

.input-2 {
  height: 1.25rem;
  width: 1.25rem;
}

input[type="text"], input[type="password"] {
  font-family: Quicksand_Regular;
  font-size: 1rem;
  padding-left: 0.75rem;
  letter-spacing: 0.2px;
}

input[type="password"] {
    letter-spacing: 5px;
}

.select:hover {
  background-color: #e0e0e0;
}

.btn {
  font-family: Quicksand_Bold;
  color: var(--clr-white);
  text-transform: capitalize;
  cursor: pointer;
  border-style: none;
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
}

.btn-create {
  font-size: 1.25rem;
  padding: 0.5rem 3rem;
  background-color: var(--clr-green);
}

.btn:hover,
.btn:focus {
  transform: translateY(-0.25rem);
  transition: all 0.2s linear;
}

.container {
  display: grid;
  width: 1280px;
  grid-template-areas:
    "a b"
    "c d"
    "e e";
  gap: 2rem 3rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  justify-content: center;
}

.cell {
  margin-left: 3rem;
  align-items: center;
  justify-content: center;
}

.cell-1 {
  grid-area: a;
}

.cell-2 {
  grid-area: b;
  justify-self: end;
}

.cell-3 {
  grid-area: c;
}
.cell-4 {
  grid-area: d;
  justify-self: end;
}
.cell-5 {
  grid-area: e;
  display: flex;
  justify-self: center;
}

hr {
  width: 1280px;
  opacity: 50%;
  margin: 0 auto;
  border: 0.3px solid grey;
  display: block;
}
