  <form class="form-group container"
        [formGroup]="createUserForm">
    
      <div class="cell cell-1">
        <label for="username" class="label">Username</label>
        <input
          type="text"
          class="input-1"
          id="username"
          formControlName="username"
        >
      </div>

      <div class="cell cell-2">
        <label for="password" class="label">Password</label>
        <input
          type="password"
          class="input-1"
          id="password"
          formControlName="password"
        >
      </div>
      
      <div class="cell cell-3">
        <label class="label" for="isAdmin">Is Admin</label>
        <input
        type="checkbox"
        id="isAdmin"
        class="input-2"
        formControlName="isAdmin"
        >
      </div>

      <div class="cell cell-4">
        <label for="confirmPassword" class="label">Confirm Password</label>
        <input
          type="password"
          class="input-1"
          id="confirmPassword"
          formControlName="confirmPassword"
        >
      </div>
    
        <div class="cell cell-5">
          <button
            type="button"
            class="btn btn-create"
            (click)="onSubmitCreateUser()"
          >Create
          </button>
        </div>
      
  </form>

<hr>
<app-users-list [usersService]="usersService"></app-users-list>
