<div class="container-fluid" style="margin-top: 30px">

  <form class="form-group"
        [formGroup]="createUserForm">
    <div class="row">
      <div class="col-sm-6">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          formControlName="username"
        >
      </div>
      <div class="col-sm-6">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
        >
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 my-auto">
        <label class="form-check-inline" for="isAdmin">Is Admin</label>
        <input
          type="checkbox"
          id="isAdmin"
          formControlName="isAdmin"
        >
      </div>
      <div class="col-sm-6">
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          formControlName="confirmPassword"
        >
      </div>
    </div>

    <div class="row" style="margin-top: 20px">
      <div class="col-sm-12">
        <div class="text-center">
          <button
            type="button"
            class="btn btn-primary btn-block"
            (click)="onSubmitCreateUser()"
          >Create
          </button>
        </div>
      </div>
    </div>
  </form>

</div>
<hr>
<app-users-list></app-users-list>
