  <form class="form-group container"
        [formGroup]="createUserForm">
    
      <div class="cell cell-2">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          formControlName="username"
        >
      </div>
      <div class="cell cell-2">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
        >
      </div>
  
      <div class="cell cell-3">
        <label class="form-check-inline" for="isAdmin">Is Admin</label>
        <input
          type="checkbox"
          id="isAdmin"
          formControlName="isAdmin"
        >
      </div>
      <div class="cell cell-4">
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          formControlName="confirmPassword"
        >
      </div>
    
        <div class="cell cell-5">
          <button
            type="button"
            class="btn btn-primary btn-block"
            (click)="onSubmitCreateUser()"
          >Create
          </button>
        </div>
      
  </form>

<hr>
<app-users-list [usersService]="usersService"></app-users-list>
