<div class="germinator-history-container">
  <h1 class="title">History</h1>

  <form [formGroup]="germinatorHistoryForm">
    <div class="select-datetime">
      <h2 class="search-label">Begin:</h2>
      <input
        id="timeStampBegin"
        type="datetime-local"
        class="input input-timestamp"
        formControlName="timeStampBegin"
      />

      <h2 class="search-label">End:</h2>
      <input
        id="timeStampEnd"
        type="datetime-local"
        class="input input-timestamp"
        formControlName="timeStampEnd"
      />

      <button class="search-btn" (click)="onSubmitHistoryPeriod()">
        Update
      </button>
    </div>
  </form>

  <div *ngIf="isDisplayCharts && lsLogSensorGerminatorHistory.length > 0">
    <app-germinator-history-charts
      [lsLogSensorGerminatorHistory]="lsLogSensorGerminatorHistory"
    ></app-germinator-history-charts>
  </div>
  <div
    *ngIf="isUpdateClickedFirstTime && lsLogSensorGerminatorHistory.length == 0"
  >
    <div class="data-not-found">
      <h5>no data</h5>
    </div>
  </div>
</div>
