<div class="modal-header">
  <h4 class="modal-title">Change [{{ username }}'s] Password</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form
    class="form-group"
    [formGroup]="changePasswordForm"
  >
    <label for="oldPassword" class="label">Old Password</label>
    <input
      type="password"
      class="form-control input-1"
      id="oldPassword"
      formControlName="oldPassword"
    >
    <label for="newPassword" class="label">New Password</label>
    <input
      type="password"
      class="form-control input-1"
      id="newPassword"
      formControlName="newPassword"
    >
    <label for="confirmNewPassword" class="label">Confirm New Password</label>
    <input
      type="password"
      class="form-control input-1"
      id="confirmNewPassword"
      formControlName="confirmNewPassword"
    >
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-red" (click)="cancel()">Cancel</button>
  <button type="button" class="btn btn-blue" (click)="onSubmitChangePassword()">Submit</button>
</div>
