.cell {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: Quicksand_Bold;
  color: var(--clr-green);
}
h2 {
  font-size: 1rem;
  font-family: Quicksand_Bold;
  color: grey;
  text-align: center;
}

.center {
  text-align: center;
}