.reservoir-list {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: 2rem auto 0 auto;
  background: var(--clr-white);
  border-radius: 1rem;
  background: #e5e5e5;
}

.each-reservoir {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  background: white;
}
