<div class="germinator-current-container">
  <h1 class="title">Germinator</h1>

  <div class="each-germinator">
    <div class="cell-1">
      <div class="germinator-data">
        <h2>Humidity</h2>
        <h1>
          {{
            logSensorGerminator.humidity == undefined
              ? "N/A"
              : logSensorGerminator.humidity.toString()
          }}%
        </h1>
      </div>
      <div class="germinator-data">
        <h2>Temperature</h2>
        <h1>
          {{
            logSensorGerminator.temperature == undefined
              ? "N/A"
              : logSensorGerminator.temperature.toString()
          }}&#176;C
        </h1>
      </div>
    </div>

    <div class="cell-2">
      <div>
        <h3>Auto</h3>
        <label class="switch">
          <input
            type="checkbox"
            [checked]="
              germinatorSettings == undefined ? 0 : germinatorSettings.isAuto
            "
            (change)="onChangeSettings(0)"
          />
          <span class="slider slider-auto"></span>
        </label>
      </div>
      <div>
        <h3>Pump</h3>
        <label class="switch">
          <input
            type="checkbox"
            [checked]="
              germinatorSettings == undefined ? 0 : germinatorSettings.pump
            "
            (change)="onChangeSettings(1)"
          />
          <span class="slider"></span>
        </label>
      </div>
      <div>
        <h3>LED</h3>
        <label class="switch">
          <input
            type="checkbox"
            [checked]="
              germinatorSettings == undefined ? 0 : germinatorSettings.led
            "
            (change)="onChangeSettings(2)"
          />
          <span class="slider"></span>
        </label>
      </div>
    </div>

    <div class="cell-3">
      <div class="row">
        <h3>Light:</h3>

        <div class="inline">
          <h3>On</h3>
          <input
            [(ngModel)]="nextLightOnTime"
            [ngStyle]="{
              background:
                nextLightOnTime == prevLightOnTime ? 'white' : '#CFF0CC'
            }"
            (keyup.enter)="onInputEnterKey()"
            type="number"
            min="0"
            id="lightOnTime"
            [value]="prevLightOnTime"
          />
          <h3>hr</h3>
        </div>

        <div class="inline">
          <h3>Off</h3>
          <input
            [(ngModel)]="nextLightOffTime"
            [ngStyle]="{
              background:
                nextLightOffTime == prevLightOffTime ? 'white' : '#CFF0CC'
            }"
            (keyup.enter)="onInputEnterKey()"
            type="number"
            min="0"
            id="lightOffTime"
            [value]="prevLightOffTime"
          />
          <h3>hr</h3>
        </div>
      </div>

      <div class="row">
        <h3>Humidity:</h3>

        <div class="inline">
          <h3>Low</h3>
          <input
            [(ngModel)]="nextHumidityLow"
            [ngStyle]="{
              background:
                nextHumidityLow == prevHumidityLow ? 'white' : '#CFF0CC'
            }"
            (keyup.enter)="onInputEnterKey()"
            type="number"
            min="0"
            id="humidityLow"
            [value]="prevHumidityLow"
          />
          <h3>%</h3>
        </div>

        <div class="inline">
          <h3>High</h3>
          <input
            [(ngModel)]="nextHumidityHigh"
            [ngStyle]="{
              background:
                nextHumidityHigh == prevHumidityHigh ? 'white' : '#CFF0CC'
            }"
            (keyup.enter)="onInputEnterKey()"
            type="number"
            min="0"
            id="humidityHigh"
            [value]="prevHumidityHigh"
          />
          <h3>%</h3>
        </div>
      </div>
    </div>
  </div>
</div>
