<div class="title">
  {{ reservoir.reservoirLabel }}
</div>
<div style="margin-top: 10px;">
  <div class="row">
    <div class="col-sm-11" style="padding: 10px;">
      <canvas
        baseChart
        [datasets]="tdsChartDataSet"
        [labels]="tdsChartLabels"
        [options]="tdsChartOptions"
        [colors]="tdsChartColors"
        [chartType]="'line'">
      </canvas>
    </div>
    <div class="col-sm-1 my-auto">
      <button class="btn btn-primary" (click)="onClickReset(0)">Reset</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-11" style="padding: 10px;">
      <canvas
        baseChart
        [datasets]="pHChartDataSet"
        [labels]="pHChartLabels"
        [options]="pHChartOptions"
        [colors]="pHChartColors"
        [chartType]="'line'">
      </canvas>
    </div>
    <div class="col-sm-1 my-auto">
      <button class="btn btn-primary" (click)="onClickReset(1)">Reset</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-11" style="padding: 10px;">
      <canvas
        baseChart
        [datasets]="temperatureSolutionChartDataSet"
        [labels]="temperatureSolutionChartLabels"
        [options]="temperatureSolutionChartOptions"
        [colors]="temperatureSolutionChartColors"
        [chartType]="'line'">
      </canvas>
    </div>
    <div class="col-sm-1 my-auto">
      <button class="btn btn-primary" (click)="onClickReset(2)">Reset</button>
    </div>
  </div>
</div>

