<div class="container">
  <div class="cell cell-1">
    {{ user.username }}
  </div>
  <div class="cell">
    <label for="isAdmin"></label>
    <input
      type="checkbox"
      id="isAdmin"
      [checked]="user.isAdmin"
      (click)="toggleAdmin()"
    />
  </div>
  <div class="cell">
    {{ user.createdAt | date: "dd-MM-yyyy HH:mm:SS" }}
  </div>
  <div class="cell cell-4">
    <button class="btn btn-blue" (click)="onChangePassword()">
      Change Password</button
    >{{ " " }}
    <button class="btn btn-red" (click)="onDeleteUser()">Delete</button>
  </div>
</div>
