<div class="mode-selector">
  <button
    [ngClass]="{
      'btn-mode': true,
      'btn-mode-active': isDisplayCurrent,
      'btn-mode-inactive': !isDisplayCurrent
    }"
    (click)="toggleDisplayMode()"
  >
    Current
  </button>
  <button
    [ngClass]="{
      'btn-mode': true,
      'btn-mode-active': !isDisplayCurrent,
      'btn-mode-inactive': isDisplayCurrent
    }"
    (click)="toggleDisplayMode()"
  >
    History
  </button>
</div>

<hr />

<div *ngIf="isDisplayCurrent">
  <div class="room-container">
    <h1 class="title">room</h1>

    <div class="room-list">
      <div *ngFor="let room of lsRoom" class="each-room">
        <div class="cell-1">
          <h1>{{ room.roomLabel }}</h1>
        </div>
        <div class="cell-2">
          <h2>Temperature</h2>
          <h1 class="center">{{ getRoomTemperature(room.roomID) }} &#176;C</h1>
        </div>
        <div class="cell-3">
          <h2>Humidity</h2>
          <h1 class="center">{{ getRoomHumidity(room.roomID) }}%</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="module-container">
    <h1 class="title">Module</h1>
    <div class="module-list">

      <div *ngFor="let module of lsModule" class="each-module">

        <div class="cell-top">

          <div class="cell-a">

              <h1>{{ module.moduleLabel }}</h1>

          </div>

          <div class="cell-b">

              <h2>Auto</h2>
              <label class="switch">
                <input type="checkbox" checked>
                <span class="slider slider-auto"></span>
              </label>

          </div>

          <div class="cell-c">

              <div class="cell-c-1">
                <h2>Light:</h2>
              </div>

              <div class="cell-c-2">
                <h2>On</h2>
                <input type="number" />
                <h2>hr</h2>
              </div>

              <div class="cell-c-3">
                <h2>Off</h2>
                <input type="number" />
                <h2>hr</h2>
              </div>
            
              <div class="cell-c-4">
              <h2>Root Humidity:</h2>
              </div>

              <div class="cell-c-5">
                <h2>Low</h2>
                <input type="number" />
                <h2>hr</h2>
              </div>

              <div class="cell-c-6">
                <h2>High</h2>
                <input type="number" />
                <h2>hr</h2>
              </div>

          </div>

        </div>
        
        <div class="cell-bottom">
          
          <div class="cell-bottom-left">
            <div class="y-center">
              <h4>Level 1</h4>
            </div>
            <div class="center">
              <h3>Root Temperature</h3>
              <h1 class="white">{{ getModuleTemperatureRoot(module.moduleID, 1) }} &#176;C</h1>
            </div>
            <div class="center">
              <h3>Root Humidity</h3>
              <h1 class="white">100%</h1>
            </div>
            
          </div>
        
          <div class="cell-bottom-right">
            <div class="center">
              <h3>Fan</h3>
              <label class="switch">
                <input type="checkbox" checked>
                <span class="slider"></span>
              </label>
            </div>
            <div class="center">
              <h3>LED</h3>
              <label class="switch">
                <input type="checkbox" checked>
                <span class="slider"></span>
              </label>
            </div>

          </div>

          

        </div>

        
        
      </div>
    </div>

  </div>

  <div class="reservoir-container">
    <h1 class="title">Reservoir</h1>
    <div class="reservoir-list">
      <div *ngFor="let reservoir of lsReservoir" class="each-reservoir">

        <div class="center">
          <h1>{{ reservoir.reservoirLabel }}</h1>
        </div>

        <div class="center">
          <h2>TDS</h2>
          <h1>{{ getReservoirTds(reservoir.reservoirID) }} ppm</h1>
        </div>

        <div class="center">
          <h2>PH</h2>
          <h1>{{ getReservoirPh(reservoir.reservoirID) }}</h1>
        </div>

        <div class="center">
          <h2>Solution Temperature</h2>
          <h1>
            {{ getReservoirTemperatureSolution(reservoir.reservoirID) }}&#176;C
          </h1>
        </div>

        <div class="center">
          <h2>Solution Level</h2>
          <h1>{{ getReservoirSolutionLevel(reservoir.reservoirID) }}%</h1>
        </div>

        <div class="center">
          <h2>SV Nutrient</h2>
          <label class="switch">
              <input type="checkbox" checked>
              <span class="slider"></span>
            </label>
        </div>

        <div class="center">
          <h2>SV Water</h2>
          <label class="switch">
              <input type="checkbox" checked>
              <span class="slider"></span>
            </label>
        </div>

        

      </div>
    </div>
  </div>
</div>

<div *ngIf="!isDisplayCurrent"></div>
