.mode-selector {
  display: flex;
  justify-content: space-around;
  margin: 1.5rem auto;
  text-align: center;
  width: 50%;
  height: 2.25rem;
  background: var(--clr-white);
  border-radius: 2rem;
  border: 4px solid var(--clr-green);
}

.btn-mode {
  font-family: Quicksand_Bold;
  background: var(--clr-white);
  font-size: 1rem;
  letter-spacing: 0.1rem;
  border: none;
  width: 50%;
}

.btn-1 {
  color: white;
  background: var(--clr-green);
  border-radius: 2rem 0 0 2rem;
}

.btn-2 {
  color: var(--clr-green);
  background: var(--clr-white);
  border-radius: 0 2rem 2rem 0;
}

hr {
  width: 60%;
  margin: 1rem auto;
  border-top: 1px solid gray;
  opacity: 60%;
}

.title {
  font-family: Quicksand_Bold;
  text-transform: uppercase;
  font-size: 1.75rem;
  width: 50%;
  padding: 0.75rem;
  border-radius: 2rem;
  color: white;
  background-color: var(--clr-green);
  text-align: center;
  border: 2px solid red;
}

h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: Quicksand_Bold;
}

h2 {
  font-size: 1rem;
  font-family: Quicksand_Regular;
  color: grey;
}

.center {
  text-align: center;
}

/* ********************** ROOM ********************** */

.room-container {
  display: block;
  margin: 2rem auto;
  width: 80%;
  border: 4px solid red;
}

.room-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: 1rem auto;
  background: var(--clr-white);
  border-radius: 1rem;
  border: 4px solid blue;
}

.each-room {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "a b c";
  align-items: center;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 2rem;
  padding-right: 0;
  margin-bottom: 1rem;
  color: var(--clr-green);
  width: 48%;
  border: 3px solid green;
}

.cell-1 {
  grid-area: a;
}
.cell-2 {
  grid-area: b;
}
.cell-3 {
  grid-area: c;
}

/* ********************** MODULE ********************** */

.module-container {
  width: 39%;
  float: left;
  left: 0;
  margin-left: 10%;
  border: 2px solid black;
}

.module-list {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: 1rem auto;
  background: var(--clr-white);
  border-radius: 1rem;
  border: 4px solid blue;
}

.each-module {
  display: grid;
  width: 100%;
  background: blueviolet;
  padding: 1rem;
  padding-left: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "a b c"
    "a d e";
  align-items: center;
  color: var(--clr-green);
  border: 3px solid green;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.cell-a {
  grid-area: a;
}
.cell-b {
  grid-area: b;
}
.cell-c {
  grid-area: c;
}
.cell-d {
  grid-area: d;
}
.cell-e {
  grid-area: e;
}

/* ********************** RESERVOIR ********************** */

.reservoir-container {
  width: 39%;
  float: right;
  right: 0;
  margin-right: 10%;
  border: 2px solid green;
}

.reservoir-list {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: 1rem auto;
  background: var(--clr-white);
  border-radius: 1rem;
  border: 4px solid blue;
}

.each-reservoir {
  display: grid;
  width: 100%;
  padding: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1rem;
  grid-template-areas:
    "a b c"
    "a d e"
    "a f g";
  align-items: center;
  color: var(--clr-green);
  border: 3px solid blue;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.cell-aa {
  grid-area: a;
}
.cell-bb {
  grid-area: b;
}
.cell-cc {
  grid-area: c;
}
.cell-dd {
  grid-area: d;
}
.cell-ee {
  grid-area: e;
}
.cell-ff {
  grid-area: f;
}
.cell-gg {
  grid-area: g;
}

/* ********************** Switch Button ********************** */

