<div class="mode-selector">
  <button
    [ngClass]="{
      'btn-mode': true,
      'btn-mode-active': isDisplayCurrent,
      'btn-mode-inactive': !isDisplayCurrent
    }"
    (click)="setDisplayMode(1)"
  >
    Current
  </button>
  <button
    [ngClass]="{
      'btn-mode': true,
      'btn-mode-active': !isDisplayCurrent,
      'btn-mode-inactive': isDisplayCurrent
    }"
    (click)="setDisplayMode(0)"
  >
    History
  </button>
</div>

  <hr/>


<div *ngIf="isDisplayCurrent">
  <app-grower-control-panel
    [lsModule]="lsModule"
    [lsReservoir]="lsReservoir"
    [lsRoom]="lsRoom"
  ></app-grower-control-panel>
</div>

<div *ngIf="!isDisplayCurrent">
  <app-grower-history-panel
    [lsModule]="lsModule"
    [lsReservoir]="lsReservoir"
    [lsRoom]="lsRoom"
  ></app-grower-history-panel>
</div>
