.addedItem {
  display: inline-block;
  padding: 10px 15px;
  margin-top: 1rem;
  margin-right: 10px;
  cursor: pointer;
  text-align: center;
  font-family: Quicksand_Regular;
  border-radius: 1rem;
  background-color: darkgray;
  color: var(--clr-white);
}
.addedItem:hover {
  background: var(--clr-red);
  color: var(--clr-white);
  transition: var(--transition);
}
@font-face {
  font-family: Quicksand_Regular;
  src: url("/assets/Quicksand/static/Quicksand-Regular.ttf");
}
@font-face {
  font-family: Quicksand_Bold;
  src: url("/assets/Quicksand/static/Quicksand-Bold.ttf");
}

.container-title {
  margin-top: 2rem;
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  text-transform: capitalize;
  font-size: 2rem;
  font-family: Quicksand_Bold;
}


.label {
  text-transform: capitalize;
  font-size: 1.25rem;
  font-family: Quicksand_Bold;
  margin-right: 2rem;
}

.input {
  box-sizing: border-box;
  border: 1px solid var(--clr-border);
  border-radius: 0.25rem;
  height: 2.25rem;
  background-color: var(--clr-grey);
}

input[type="text"], input[type="datetime-local"], input[type="number"], select {
  font-family: Quicksand_Regular;
  font-size: 1rem;
  padding-left: 0.75rem;
  letter-spacing: 0.3px;
}

input[type="number"] {
  padding-left: 3.5rem;
}

select:hover, .input-timestamp:hover {
  background-color: #e0e0e0;
}

.input-text {
  width: 20rem;
}

.input-num {
  width: 8rem;
}

.input-select {
  width: 14rem;
}

.input-remark {
  width: 100%;
  height: 7.75rem;
}

.input-timestamp {
  width: 17rem;
}

.btn {
  font-family: Quicksand_Bold;
  color: var(--clr-white);
  text-transform: capitalize;
  cursor: pointer;
  border-style: none;
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
  font-size: 1.25rem;
  padding: 0.5rem 3rem;
}

.btn-blue-1 {
  background-color: var(--clr-blue);
  font-size: 1rem;
  padding: 0.3rem 1rem;
  margin-left: 1.5rem;
}

.btn-blue-2 {
  background: var(--clr-blue);
  margin-right: 2rem;
}
.btn-red {
  background: var(--clr-red);
}

.btn-create {
  background-color: var(--clr-green);
}

.btn-grey {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  background-color: var(--clr-green);
}
.btn:hover,
.btn:focus {
  transform: translateY(-0.25rem);
  transition: all 0.2s linear;
}

hr {
  width: 1280px;
  opacity: 50%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border: 0.3px solid grey;
  display: block;
}
.container-0, .container-2, .container-3 {
  display: flex;
  width: 1280px;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.container-2 {
  justify-content: center;
  margin-bottom: 1.5rem;
}

.container-1 {
  display: grid;
  width: 1280px;
  grid-template-areas:
    "a a a a"
    "b b c c"
    "d d e e"
    "f g h i"
    "j j k k"
    "l l m m"
    "n n n n";
  gap: 1.5rem 3rem;
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}


.cell {
  margin-left: 3rem;
}

.cell-1 {
  grid-area: a;
}
.cell-2 {
  grid-area: b;
}
.cell-3 {
  grid-area: c;
}
.cell-4 {
  grid-area: d;
}
.cell-5 {
  grid-area: e;
}
.cell-6 {
  grid-area: f;
}
.cell-7 {
  grid-area: g;
}
.cell-8 {
  grid-area: h;
}
.cell-9 {
  grid-area: i;
}
.cell-10 {
  grid-area: j;
}
.cell-11 {
  grid-area: k;
}
.cell-12 {
  grid-area: l;
}
.cell-13 {
  grid-area: m;
}
.cell-14 {
  grid-area: n;
}

