@font-face {
  font-family: Quicksand_Regular;
  src: url(/Quicksand/static/Quicksand-Regular.ttf);
}
@font-face {
  font-family: Quicksand_Bold;
  src: url(/Quicksand/static/Quicksand-Bold.ttf);
}

.container {
    display: grid;
    justify-content: center;
    width: 1280px;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr 1fr 1fr 1fr;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    align-items: center;
}
.cell {
    text-align: center;
    font-family: Quicksand_Regular;
    font-size: 1.25rem;
}

.cell-1 {
    justify-self: start;
}
.cell-2 {
    justify-self: end;
}
.btn {
  font-family: Quicksand_Bold;
  color: var(--clr-white);
  text-transform: capitalize;
  cursor: pointer;
  border-style: none;
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
}

.btn-blue,
.btn-red {
  font-size: 1rem;
  padding: 0.3rem 1rem;
}

.btn-blue {
  background: var(--clr-blue);
}
.btn-red {
  background: var(--clr-red);
  margin-left: 0.75rem;
}
.btn:hover,
.btn:focus {
  transform: translateY(-0.25rem);
  transition: all 0.2s linear;
}
@media (max-width: 480px) {
  .cell-1, .cell-2 {
    justify-self: center;
  }
}