<div class="container">
  <div class="cell cell-1">
    {{ plant.plantLabel }}
  </div>
  <div class="cell">
    {{ plant.tdsLow }} - {{ plant.tdsHigh }}
  </div>
  <div class="cell">
    {{ plant.phLow }} - {{ plant.phHigh }}
  </div>
  <div class="cell">
    {{ plant.temperatureLow }} - {{ plant.temperatureHigh }}
  </div>
  <div class="cell">
    {{ plant.lightsOnHour }} / {{ plant.lightsOffHour }}
  </div>
  <div class="cell">
    {{ plant.mistingOnSecond }} / {{ plant.mistingOffSecond }}
  </div>
  <div class="cell cell-2">
    <button
      class="btn btn-blue"
      (click)="onEditPlant()"
    >Edit
    </button>{{" "}}
    <button
      class="btn btn-red"
      (click)="onDeletePlant()"
    >Delete
    </button>
  </div>
</div>
