@font-face {
  font-family: Quicksand_Regular;
  src: url(/Quicksand/static/Quicksand-Regular.ttf);
}
@font-face {
  font-family: Quicksand_Bold;
  src: url(/Quicksand/static/Quicksand-Bold.ttf);
}

.container {
    display: grid;
    justify-content: center;
    width: 1280px;
    grid-template-columns: 30% 45% 25%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.cell {
    text-align: center;
    font-family: Quicksand_Bold;
    font-size: 1.25rem;
}

.cell-1 {
  justify-self: start;
}

.cell-2 {
  justify-self: end;
}

hr {
  width: 1280px;
  opacity: 50%;
  margin: 0 auto;
  border: 0.3px solid grey;
  display: block;
}
