<div class="container">
  <div class="cell">
    {{ module.moduleLabel }}
  </div>
  <div class="cell">
    {{ module.level }}
  </div>
  <div class="cell">
    {{ room.roomLabel ? room.roomLabel : '-' }}
  </div>
  <div class="cell">
    {{ reservoir.reservoirLabel ? reservoir.reservoirLabel : '-' }}
  </div>
  <div class="cell">
    <button
      class="btn btn-blue"
      (click)="onEditModule()"
    >Edit
    </button>
    {{" "}}
    <button
      class="btn btn-red"
      (click)="onDeleteModule()"
    >Delete
    </button>
  </div>
</div>
